.between-sliders {
    position: relative;
    background-image: url('./assets/images/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 650px;
}


@media(max-width:950px) {
    .between-sliders {
        min-height: 500px;
    }
}

@media(max-width:750px) {
    .between-sliders {
        min-height: 400px;
    }
}