.header {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;

    &__flex {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &-manipulation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include raleway-16-regular;
        & > *:not(:last-child) {
            margin-right: 33px;
        }
        &__number {
            color: $black-color;
        }
        &__basket {
            img {
                width: 30px;
            }
           
        }
        &__select {
            @include raleway-16-regular;
            border: none
        }
    }

    &__burger {
        display: none;
        border: none;
        background-color: inherit;
        padding: 10px;
        cursor: pointer;
        transition: all .3s;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        &-img {
            width: 30px;
            height: 30px;
        }

        &--open {
            opacity: 0;
        }
    }
}

.navigation {
    &__links {
        transition: color .4s;
        @include raleway-16-regular;
        &:not(:last-child) {
            margin-right: 30px;
        }
        &:hover {
            color:$red-color;
        }
    }
}

.navigation__links--active {
    color:$red-color;
}

.logo {
    display: block;
   &__item {
    display: block;
    width: 148px;
   } 
}



@media(max-width:950px) {
    .header-manipulation {
        & > *:not(:last-child) {
            margin-right: 10px;
        }
        &__select {
            font-size: 14px;
        }

        &__number {
            font-size: 14px;
        }
    }
    .navigation__links {
        font-size: 14px;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

@media(max-width:700px) {
    .navigation {
        display: none;
    }
    .header {
        padding-top: 10px;
        padding-bottom: 10px;
        &__burger {
            display: block;
        }

        &-manipulation {
            &__number {
                display: none;
            }
        }

       
    }
 
}

@media(max-width: 450px) {
    .header {
        &__burger {
            padding: 5px;
        }

        &-manipulation {
            &__select {
                display: none;
            }
        }
    }
}