.instagram {

    padding-bottom: 130px;

    &__img-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        padding-top: 50px;
    }

    &__img-item-wrap {
        width: 273px;
        height: 273px;
        width: calc(25% - 50px);
        overflow: hidden;
        object-fit: cover;
        border-radius: 3px;
       
        

        img {
           max-width: 100%;
           height: 100%;
           transition: transform .6s;
           cursor: pointer;
           object-fit: cover;
           max-height: 100%;
            &:hover {
                transform: scale(1.05);
            }
        }
    }


}


@media(max-width: 800px) {
    .instagram {
        padding-top: 50px;
        &__img-wrap {
            gap: 20px;
        }
        &__img-item-wrap {
            width: calc(50% - 20px);
            // height: calc(50% - 20px);
            height: 50%;
    }
}
}