.sub-preview {
    &__inner {
        padding: 130px 0;
        display: flex;
        justify-content: space-between;
        min-height: 80vh;

        &--below {
            flex-direction: column;
            row-gap: 30px;
        }
    }

    &__img {
       width: calc(210 / 1280 * 100%);
        &.left {
            align-self: flex-start;
        }
        &.right {
            align-self: flex-end;
        }

        &--below {
            width: calc(400 / 1280 * 100%);
            object-fit: cover;
        }
    }

    &__text {
        @include h2-desctop;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center; 
        align-self: center;

        &--below {
            text-transform: none;
            max-width: 70%;
        }

    }
}

@media(max-width:800px) {
    .sub-preview {
        &__inner {
            min-height: 60vh;
            flex-direction: column;
            gap: 30px;

            &--below {
                min-height: 40vh;
            }
        }
        &__img {
            width: 50%;
        }
    }
}



