// "Dela Gothic One"
@mixin h1-desctop() {
    font-family: "Dela Gothic One", sans-serif;
    font-size: clamp(30px, 8vw, 65px);
    line-height: calc(71.87px / 64px * 100%); 
    font-weight: 800;
    color: $black-color;
}
@mixin h2-desctop() {
    font-family: "Dela Gothic One", sans-serif;
    font-size:clamp(15px, 4vw, 50px);
    line-height: 1;
    font-weight: 800;
    color: $black-color;
}

@mixin menu-element-bold() {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 18px;
    line-height: 26.06px;
    font-weight: 800;
    color: $gray-menu;
}

// Raleways
@mixin button() {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 18.78px;
    font-weight: 600;
    color: $black-color;
}

@mixin raleway-12-light() {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    line-height: 19.97px;
    font-weight: 300;
    color: $black-color;
}

@mixin raleway-12-semibold() {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    line-height: 19.97px;
    font-weight: 600;
    color: $black-color;
}
@mixin raleway-14-light() {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 23.27px;
    font-weight: 300;
    color: $black-color;
}
@mixin raleway-14-bold() {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height:23.27px;
    font-weight: 700;
    color: $black-color;
}
@mixin raleway-16-regular() {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height:18.78px;
    font-weight: 400;
    color: $black-color;
}
@mixin raleway-16-bold() {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height:18.78px;
    font-weight: 700;
    color: $black-color;
}
@mixin raleway-14-subheading() {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height:16.44px;
    font-weight: 400;
    color: $black-color;
}



@mixin button() {
    display: inline-block;
    font-family: Raleway;
    font-size: 14px;
    line-height: 16.44px;
    letter-spacing: 0.05em;
    text-align: left;
    font-weight: 400;
    color: $default-buttons;
    padding: 17px 27.5px;
    background-color: $red-color;
    text-transform: uppercase;
}