.container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}