// "Dela Gothic One"

@font-face {
    font-family: "Dela Gothic One", sans-serif;
    src: url(./assets/fonts/delaGothic/DelaGothicOne-Regular.woff) format('woff');
}
@font-face {
    font-family: "Dela Gothic One", sans-serif;
    src: url(./assets/fonts/delaGothic/DelaGothicOne-Regular.woff) format('woff');
}

//"Raleway"

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-Black.woff) format('woff');
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-BlackItalic.woff) format('woff');
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-Bold.woff) format('woff');
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-BoldItalic.woff) format('woff');
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-ExtraBoldItalic.woff) format('woff');
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-ExtraLight.woff) format('woff');
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-ExtraLightItalic.woff) format('woff');
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-Italic.woff) format('woff');
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-Light.woff) format('woff');
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-LightItalic.woff) format('woff');
}

@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-Medium.woff) format('woff');
}
@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-MediumItalic.woff) format('woff');
}
@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-Regular.woff) format('woff');
}
@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-SemiBold.woff) format('woff');
}
@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-SemiBoldItalic.woff) format('woff');
}
@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-Thin.woff) format('woff');
}
@font-face {
    font-family: "Raleway", sans-serif;
    src: url(./assets/fonts/raleway/Raleway-ThinItalic.woff) format('woff');
}

