.links-arrow {
    position: relative;
    @include  raleway-14-subheading;
    color: $red-color;
    letter-spacing: 5%;
    text-transform: uppercase;
    transition: transform .4s;

    &:hover {
       transform: scale(1.05);
    }
}
