.reuse-info {
   text-align: center;

   &__small-title {
    @include raleway-14-subheading;
    text-transform: uppercase;
    color: $gray-dark-color;
   }

   &__big-title {
    @include  h2-desctop;
    text-transform: uppercase;
    font-size: clamp(15px, 4vw, 35px);
    line-height: 1.3;

    &--second {
        margin-bottom: 30px;
    }
   }

   &__text {
    @include raleway-14-bold();
    font-weight: 200;

    &--first {
        margin-top: 20px;
    }

    &--second {
        margin-bottom: 25px;
    }

    &--third {
        margin-top: 20px;
    }

    &--instagram {
        color: $gray-dark-color;
        max-width: 355px;
        display: inline-block;
        margin-top: 10px;
    }
   }

   &--second {
    text-align: left;
   }

   &--instagram {
   }
}

@media(max-width:800px) {
    .reuse-info {
        &__text--first {
            display: none;
        }
        &__text--third {
            display: none;
        }
    }
}