.schedule {
    @include raleway-14-subheading;
    position: relative;
    &:not(.schedule--footer)::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        left: -34px;
        background-image: url('./assets/icons/time-svgrepo-com.svg');
        background-size: contain;
    }

    &.schedule--footer {
        margin-top: 25px;
    }
    &--max-width {
        max-width: 130px;
        margin-top: 30px;

       
    }
}