.swiper {
    &-wrapper {
        &--castom {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    &-slide--castom {
        width: 323px;
    }

    &-slide {
        &__img {
            max-width: 100%;
            transition: transform .7s;
            margin-bottom: 10px;
            cursor: pointer;
    
            &:hover {
                transform: scale(.95);
            }
        }

        &__title {
            @include raleway-14-light;
            text-align: center;
        }

        &__price {
            @include  raleway-14-bold;
        }
    }

   

    &-button {
        
        &-right {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            cursor: pointer;
            &__item {
            width: 30px;
               transform: rotate(-180deg); 
            }
        }

        &-left {
            position: absolute;
            top: 0;
            right: 60px;
            z-index: 10;
            cursor: pointer;
            &__item {
                width: 30px;
            }
        }
    }
}

@media(max-width: 681px) {
    .swiper {
        &-slide {
            &__title {
                font-size: 12px;
            }

            &__price {
                font-size: 12px;
            }
        }
    }
}